{{#if details.items}}
    <div>
      <span class="p-value">
        <a href="https://cse.google.com/cse?q=%22{{block.entity.value}}%22&cx={{block.userOptions.cx}}">
          View all results in Google {{fa-icon icon="external-link-square" class="external-link-icon"}}
        </a>
      </span>
    </div>
    <hr>
    {{#each details.items as |result|}}
      <div class="result-container mt-3">
        {{#if result.title}}
          <div>
            <a href="{{result.link}}" class="p-title p-link d-flex align-items-start">
                {{result.title}}
            </a>
          </div>
        {{/if}}

        {{#if result.displayLink}}
          <div class="mt-1">
            <span class="p-footnote">{{result.displayLink}}</span>
          </div>
        {{/if}}

        {{#if result.snippet}}
          <div class="p-block mt-1">{{result.snippet}}</div>
        {{/if}}
      </div>
    {{/each}}
{{/if}}
